body {
    background-color: #864f06ce;
}

#player {
    float: left;
    justify-content: flex-start;
    padding-top: 10px;
    padding-left: 15px;
}
#commentsection {
    width: 800px;
    height: 800px;
    float: right
    align-top;
}

.align-custom {
    position: relative;
    top: 390px;
    right: 625px;
    width: 625px;
}

.align-links {
    position: relative;
    top: 410px;
    right: 625px;
    width: 625px;
}

.img-cus {
    height: 100px;
    width: 150x;
}

.card-size-cus {
    height: 110px;
    width: 200px;
    
}

.link-text-custom {
    color: black;
}

.link-text-custom2 {
    color: antiquewhite;
}