body {
    background-color: #242424af;
}

#player {
    float: left;
    justify-content: flex-start;
    padding-top: 10px;
    padding-left: 15px;
}

.align-custom {
    position: relative;
    top: 390px;
    right: 625px;
    width: 625px;
}

.align-links {
    position: relative;
    top: 410px;
    right: 625px;
    width: 625px;
}

.img-cus {
    height: 100px;
    width: 100x;
}

.card-size-cus {
    height: 110px;
    width: 110px;
}

.link-text-custom {
    color: black;
}

.link-text-custom2 {
    color: antiquewhite;
}