body {
    background-color: #864f06ce;
}

#player {
    float: left;
    justify-content: flex-start;
    padding-top: 10px;
    padding-left: 15px;
}
#commentsection {
    width: 800px;
    height: 800px;
    position: relative;
    left: 660px;
    bottom: 570px;
}
#cogwheel {
    justify-content: end;
    position: relative;
    left: 1200px;
}
.align-custom {
    position: relative;
    top: 390px;
    right: 625px;
    width: 625px;
}

.align-links {
    position: relative;
    top: 410px;
    right: 625px;
    width: 625px;
}

.img-cus {
    height: 100px;
    width: 150x;
}

.card-size-cus {
    height: 110px;
    width: 200px;
    
}

.link-text-custom {
    color: whitesmoke;
}

.link-text-custom:hover {
    color: #864f06ce;
}

.card-text-cus {
    align-content: flex-start;
    justify-content: left;
    color: white; 
}